<md-toolbar>
    <span>SIG-Web Messaging Application</span>
</md-toolbar>
<md-card>
    <md-card-title>Messages</md-card-title>
    <md-card-content>
        <md-list dense style="border: 1px solid rgba(0,0,0,0.12);">
            <! -- default message if no messages -->
            <md-list-item *ngIf="messages.length == 0">Send a message to get chatting!</md-list-item>

            <!-- Message -->
            <span *ngIf="messages.length > 0">
                <md-list-item *ngFor="let message of messages">
                    <h3 ><b>{{message.username}}:</b></h3>
                    <span style="color:#222">&nbsp;{{message.message}}</span>
                </md-list-item>
            </span>
        </md-list>
        <hr>
        <div (keyup.enter)="sendMessage()">
            <md-input [(ngModel)]="user">
                <md-placeholder>Username</md-placeholder>
            </md-input>

            <md-input [(ngModel)]="message">
                <md-placeholder>Message</md-placeholder>
            </md-input>
            <button md-raised-button (click)="sendMessage()">Send</button>
        </div>
    </md-card-content>
</md-card>
